.footer-container {
    background-color: #508196;
    width: 100%;
}
.footer {
    padding: 40px 0; 
    margin-top: 10%;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #ccdde4;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    display: inline-block;
    text-align: center;
    border: 1px solid #ccdde4;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 50%;
    margin: 0 8px;
    /* opacity: 0.75; */
}

.footer .social a:hover {
    opacity: 0.9;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: #ccdde4;
    text-decoration: none;
    /* opacity: 0.8; */
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    color: #9eaeb4;
} 


.footer .copyright {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: #ccdde4;
}

.footer .logo{ 
    display: block;
    width: 30%; 
    height: 30%; 
    margin-left: auto;
    margin-right: auto;
}




@media (max-width: 768px) {
    .footer .logo{
      /* Styles for medium-sized screens */
     display: none;
    }

    .footer ul{
        font-size: 18px;
    }

    .footer .copyright {
        font-size: 15px;
      
    }
    .footer .social a {
        font-size: 20px;
        width: 30px;
        height: 30px;
        text-align: center;
      
    }
}
  
@media (max-width: 480px) {
    .footer .logo{
      /* Styles for small screens */
      display: none;
    }

    .footer ul{
        font-size: 10px;
    }

    .footer .copyright {
        font-size: 10px;
    }
}