@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); 


:root {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #4E464E;
  background-color: #F1EBEC;

}

a {
  font-weight: 500;
  color: #4E464E;
  text-decoration: inherit;
} 
a:hover {
  color: #746e74;
}

body {
  margin: 0; 
  padding: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid #4E464E;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #F9A246;
  cursor: pointer;
  transition: border-color 0.25s;  
}
button:hover {
  /* border-color: #fcc891; */
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #4E464E;
    background-color: #F1EBEC;
  }
  a:hover {
    color: #719fb3;
  }
  button {
    background-color: #F9A246;
  }
}
