.bannerFood {
    background-color: #89A997;
    padding:50px;
    text-align: center;
  }
.mainInfo h2{
  font-size: 36px;

}

  .userViewBtn{
    background-color: #BA9FBD;
    margin-right: 30px;
  }

  .BusinessViewBtn{
    background-color: #D99C9C;
    margin-left: 30px;
  }

  .userViewBtn:hover{
    border: 1px solid #f9defc;
  }

  .BusinessViewBtn:hover{
    border: 1px solid #e1a1a1;
  }

  .group-buttons{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.userViewGrid{
  display: grid;
  grid: 600px / 1fr 1fr;;
}

.filtersBox, .listingsBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
}
.filtersBox{
  grid-column: 1;
  border: 5px solid #D99C9C;
  align-items: center;
}

.filtersBox label{ 
  font-size: 20px;
  margin-left: 30px;
  align-items: center;

} 

.filtersBox h3{
  font-size: 28px;
}

.listingsBox{
  grid-column: 2;
  overflow: auto;
  border: 5px solid #BA9FBD;
}

.listingsBox h3{
  font-size: 28px;
}

.reportBtn{
  background-color: #C45A5A;
  color: #EDE0E2;
  border: 2px solid #8d2c2c; 
  font-size: 28px;
  margin-top: 50px;
}

.reportBtn:hover{
  border: 2px solid #f76c6c; 
}

.businessViewGrid{
  display: grid;
  grid: auto / 1fr 1fr;;
}

.addListingsBox, .yourListingsBox, .businessFiltersBox{
  display: flex;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
}

.addListingsBox{
  flex-direction: column;
  justify-content: space-between;
  grid-column: 1;
  border: 5px solid #D99C9C; 
}

.yourListingsBox{
  flex-direction: column;
  grid-column: 2;
  border: 5px solid #BA9FBD;
}

.businessFiltersBox{
  display: flex;
  grid-column: 1 /span 2;
  border: 5px solid #F9A246; 
  height: fit-content;
  justify-content: center;
} 
.businessFiltersBox h3{
  display: flex;
  justify-content: center;

}

.filter2{
  display: flex;
  padding-top: 40px;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.filter2 label{
  margin-right: 30px;
  align-items: center;
}

.filter2 input[type="checkbox"]{
  border: 2px solid #F9A246;
}

.filter2 input[type="checkbox"]:checked {
  border-color: #bc7a34;
  background-color: #F9A246;
}

.listingBoxForm{
  display: inline-block;
}

.listingBoxForm input {
  font-size: 20px;
  width: 300px; 
  background-color: #F1EBEC;
  border-radius: 8px;
  border: 3px solid #D99C9C;
  margin-top: 25px;
  margin-left: 36px;
  text-align: left;
}
.listingBoxForm label {
  display: inline-block;
  width: 200px;
  font-size: 20px;
  text-align: left;
  margin-right: 30px; 
  margin-left: 30px;
}
.createListingBtn{
  background-color: #D99C9C;
}

.createListingBtn:hover{
  border: 2px solid #f0acac;
}

.theFilters{
  display: flex; 
  justify-content: left;
}

  /* Hide the default checkbox */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #D99C9C;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s; 
}

/* Create a custom design for the checkbox */
input[type="checkbox"]:checked {
  border-color: #a76a6a;
  background-color: #D99C9C; 
}

.listingsOnly{
  background-color: #BA9FBD;
  margin: 10px;
  padding:10px;
  border-radius: 25px;
  border: 2px solid #4e464e; 
}

.reserveBtn{
  background-color: #F9A246;
  margin-left: 40px; 
  border: 2px solid  #a0682c;
} 
.reserveBtn:hover{
  border:2px solid #f8b66f;
}

input{
  display: inline-block;
  text-align: left;
  margin-right: 30px;  
  border-radius: 8px;
  border: 2px solid#4e464e; 
  background-color: #ede0e2; 
  margin-left: 20px;
}


@media (max-width: 1200px){
  .userViewGrid{
    display: grid;
    grid: 600px / 1fr;
  }
  .filtersBox, .listingsBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    grid-column: 1;
  }

  .filtersBox label{
    font-size: 50px;
  }

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 40px;
    height: 40px;
    border: 5px solid #D99C9C;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s; 
  }
  .mainInfo h2{
    font-size: 56px;
  }
  .listingsBox h3{
    font-size: 50px;
  }
  .listingsOnly{
    font-size: 36px;
  }

  /* the business view */
  .businessViewGrid{
    display: grid;
    grid: auto / 1fr;
  }
  .addListingsBox, .yourListingsBox, .businessFiltersBox{
    grid-column: 1;
  }
  .filter2 label{
    font-size: 28px;
  }
  .addListingsBox h3, .yourListingsBox h3{
    font-size: 40px;
  }
  .listingBoxForm label{
    font-size: 36px;
  }
  .listingBoxForm input{
    font-size: 36px;
  }
  .createListingBtn{
    font-size: 28px;
  }
  .userViewBtn, .BusinessViewBtn{
    font-size: 36px;
  }
  .reportBtn{
    font-size: 36px;
  }






}
