
.bannerAdvice {
    background-color: #BA9FBD;
    padding:50px;
    text-align: center;
    margin-top: 90px;
  }

  .nav-button-clicked {
    background-color: #F8FD89;
  }


  .gridContainerAdvice{
    display: grid;
    grid: auto / 1fr 1fr;;
  }

  .infoBox1, .infoBox2, .infoBox3, .infoBox4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
  }

  .infoBox1{
    grid-column: 1;
    border: 5px solid #89a997;
  }

  .infoBox2{
    grid-column: 2;
    border: 5px solid #D99C9C;
  }

  .infoBox3{
    grid-column: 1;
    border: 5px solid #BA9FBD;
  }

  .infoBox4{
    grid-column: 2;
    border: 5px solid #F9A246;
  }

  .HealthBox1, .HealthBox2{
    background-color: #89a997;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 1;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    height: 80px;
  }

  .HealthBox1:hover, .HealthBox2:hover{
    background-color: #6e8e7c;
  }

  .HealthBox1 p, .HealthBox2 p{
    text-align: left; 
    margin-top: 15px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.CharityBox1, .CharityBox2{
    background-color: #D99C9C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 1;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    height: 80px;
}

.CharityBox1:hover, .CharityBox2:hover{
  background-color: #a27575;
}

.CharityBox1 p, .CharityBox2 p{
  text-align: left; 
  margin-top: 15px;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 40px;
}


.DealsBox1, .DealsBox2{
  background-color: #BA9FBD;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 1;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  height: 80px;
}

.DealsBox1:hover, .DealsBox2:hover{
  background-color: #7b687d;
}

.DealsBox1 p, .DealsBox2 p{
  text-align: left; 
  margin-top: 15px;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 40px;
}


.EventsBox1, .EventsBox2{
  background-color: #F9A246;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 1;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  height: 80px;
}

.EventsBox1:hover, .EventsBox2:hover{
  background-color: #dd9344;
}

.EventsBox1 p, .EventsBox2 p{
  text-align: left; 
  margin-top: 15px;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 40px;
}

#popup {
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F1EBEC;
  z-index: 9999; /* Ensure the overlay is positioned above other elements */
}

#popup h2 {
  font-size: 28px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: left;
  padding-left: 30px;
}

#popup h3{
  text-align: left;
}

.MF{
  padding-top: 30px;
}

.content {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.close-btn {
  display: flex; 
  float: right;
  background: none;
  border: none;
  position:absolute;
  top:0;
  right:0;
  padding-top: 30px;
}

@media (max-width: 1200px){
  .gridContainerAdvice{
    display: grid;
    grid: auto / 1fr;
  }
  .infoBox1, .infoBox2, .infoBox3, .infoBox4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    grid-column: 1;
    font-size: 28px;
  }  
  .HealthBox1 p, .HealthBox2 p,.CharityBox1 p, .CharityBox2 p,.DealsBox1 p, .DealsBox2 p,.EventsBox1 p, .EventsBox2 p{
    font-size: 28px;
  }

  .pdf-btn{
    font-size: 28px;
  }

  #popup{
    font-size: 36px;
  }

  #popup h2, #popup h3{
    font-size: 48px;
  }



}